module.exports = function( ) {
  // Example of how hide Twitter and LimeChat when working
  // var applescript = require("applescript")

  // var twitter = 'tell application "Finder" to set visible of process "Twitter" to false'
  // , limechat = 'tell application "Finder" to set visible of process "LimeChat" to false'

  // applescript.execString( twitter, function(err, rtn) {} )
  // applescript.execString( limechat, function(err, rtn) {} )
}
